.vs-sg-search-suggestions-wrapper {
  display: block; /* Changed from 'none' to 'block' to show by default */
}

.vs-sg-search-suggestions {
  background-color: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
  width: 100%;
}

.vs-sg-search-suggestions-container {
  max-width: 1200px;
  margin: 0 auto;
}

.vs-sg-popular-query h3,
.vs-sg-popular-search-products h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
  font-weight: 500;
  margin-top: 0;
  font-weight: 600;
}

.vs-sg-popular-query-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.vs-sg-query-item {
  background-color: #f5f5f5;
  padding: 4px 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s;
  flex-grow: 1;
}

.vs-sg-query-item:hover {
  background-color: #e5e5e5;
}

.vs-sg-popular-products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
}

.vs-sg-product-image {
  display: flex;
  max-width: 100%;
  gap: 14px;
  text-decoration: none;
  align-items: center;
  margin-bottom: 15px !important;
  border-radius: 2px;
  overflow: hidden;
}

.vs-sg-product-image:hover img {
  /* transform: translateY(-3px); */
  transition: transform 0.3s;
  transform: scale(1.05);
}

.vs-sg-product-image img {
  /* width: 100%; */
  height: auto;
  display: block;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 10rem;
  aspect-ratio: 1/1;
}

@media (max-width: 768px) {
  .vs-sg-popular-products-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

/* Styles for when suggestions are inside search form */
form[action="/search"] .vs-sg-search-suggestions-wrapper {
  position: relative;
  margin-top: 5px;
  display: block; /* Ensure it's always displayed */
  position: absolute;
  /* z-index: 3647873293; */
  left: 0;
  right: 0;
}

.vs-sg-product-price {
  font-size: 14px;
  color: #555;
  margin: 0;
}
.vs-sg-product-title{
    color: #000;
}